*.o
*.a
config.log
.sconsign.dblite
earthren.creator
earthren.creator.user
.qtc_clangd/

learn/tiles/
learn/tiles_utm/

xy_plane
xy_plane_grid
xy_plane_panzoom
texture_storage
xy_plane_texture
xy_plane_grid_textured
map_camera
height_sinxy
plot_sinxy
height_sinxy_map
height_map
height_sinxy_normals
height_sinxy_normals_fce
sinxy_heights
normals
geoms_plane
gs_triangle_broken
terrain_quad
satellite_map
texture_storage_tiff
height_scale
height_scale.ini
four_terrain
four_terrain.ini
