*.o
config.log
.sconsign.dblite
earthren.creator
earthren.creator.user
.qtc_clangd/

xy_plane
xy_plane_grid
xy_plane_panzoom
texture_storage
xy_plane_texture
xy_plane_grid_textured
map_camera
height_sinxy
plot_sinxy
height_sinxy_map
height_map
height_sinxy_normals
height_sinxy_normals_fce
sinxy_heights
normals
