*.o
config.log
.sconsign.dblite
earthren.creator
earthren.creator.user
.qtc_clangd/

xy_plane
xy_plane_grid
xy_plane_panzoom
texture_storage
xy_plane_texture
xy_plane_grid_textured
map_camera
height_map
